{% extends "swapp/base.html" %}
{% load static %}
{% block content %}
<section class="ftco-section ftco-causes ftco-no-pb" id="causes-section">
	<div class="container">
		<div class="row justify-content-center pb-5">
			<div class="col-md-12 heading-section text-center ftco-animate">
				<span class="subheading">Events</span>
				<h2 class="mb-5">Church Events</h2>
			</div>
		</div>
		<div class="row">
			{% for activity in activities %}
			<div class="col-md-6 col-lg-3">
				<div class="cause-entry ftco-animate">
					<a href="#" class="img" style="background-image: url({% static 'swapp/img/cause-1.jpg' %});"></a>
					<div class="text p-3">
						<span class="time">8:30am - 5:30pm</span>
						<h3><a href="cause.html">{{ activity.event_name }}</a></h3>
						<p><span class="icon-user mr-1"></span> by pastor: <a href="#">Jerry Simon</a></p>
						<p>{{ activity.event_description }}</p>
						<p class="mb-0"><a href="#" class="btn btn-primary">Join Us</a></p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock %}
