{% extends "swapp/base.html" %}
{% load static %}
{% block content %}
<section class="ftco-section ftco-no-pb" id="pastor-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-6 heading-section text-center ftco-animate">
        <span class="subheading">Pastors</span>
        <h2 class="mb-4">Church Pastors</h2>
        <p>Checkout our spiritual fathers.</p>
      </div>
    </div>
    <div class="row">
      {% for b in bio %}
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="staff">
          <div class="img-wrap d-flex align-items-stretch">
            <div class="img align-self-stretch" style="background-image: url({% static 'swapp/img/staff-1.jpg' %});"></div>
          </div>
          <div class="text d-flex align-items-center pt-3 text-center">
            <div>
              <h3 class="mb-2">{{ b.name }}</h3>
              <span class="position mb-4">Lead Pastor</span>
              <div class="faded">
                <ul class="ftco-social text-center">
                  <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                  <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                  <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                  <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</section>
{% endblock %}
